/Amplitude.class
/AnguloSenoide.class
/CorrenteDeOrdemHarmonica.class
/DesenharGrafico.class
/DistorcidaResultaFourier.class
/FatorDePotencia.class
/FormaDeOnda.class
/OndaDaCorrente.class
/OndaDeTensao.class
/PotenciaAparente.class
/PotenciaAtiva.class
/PotenciaInstantanea.class
/PotenciaReativa.class
/TensaoDeOrdemHarmonica.class
/ValorDaPotencia.class
/VisualizaGrafico.class
/teste.class
